bam
.bam
/config.lua
datasrc/__pycache__
datasrc/*.pyc
/objs
src/game/generated
/gamemodes
!/gamemodes/dm
autoexec.cfg

/*.dll
/*.exe

/crapnet*
/dilate*
/fake_server*
/map_resave*
/map_version*
/mastersrv*
/packetgen*
/tileset_border*
/versionsrv*

/tmf_modsrv
/tmf_modsrv_d
